@model IEnumerable<DAL.Models.Degree>
@{
    ViewBag.Title = "ViewAll";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container">
    <!-------------------------         your page will go here   --------------------------->
    <h1 class="blue-heading page-header">All Degrees</h1>
    <div class="col-sm-10">
        <table class="table table-bordered table-hover" id="mytable">
            <thead>
                <tr>
                    <th>Degree Name</th>
                    <th>Duration</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var a in Model)
                {
                    <tr>
                        <td>@a.DegreeName</td>
                        <td>@a.DegreeDuration years</td>
                        <td>
                            <input class="btn btn-success" type="submit" value="Details" onclick="self.location='/AdminDegree/Details?Id=@a.Id'" />
                            <input class="btn btn-danger" type="submit" value="Delete" onclick="ConfirmDeletion(@a.Id)" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    function ConfirmDeletion(a) {
        var check = confirm("Confirm Deletion?");
        if (check == true) {
            self.location = '/AdminDegree/Delete/' + a;
        }
    }
</script>
